.overlay {
    position: fixed;
    inset: 0;
    background: rgba(42, 35, 27, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: fixed;
    width: 342px;
    height: 380px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E9DAC5;
    border-radius: 27px;
    border: 1px solid #2A231B;
    padding: 5px 25px;
}

.modal p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 4px;
}

.modal input, .modal textarea {
    border: 1px solid #2A231B;
    border-radius: 7px;
    background: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #2A231B;
    width: 93%;
    padding-left: 10px;
    padding-right: 10px;
}

.modal input{
    margin-bottom: 17px;
    height: 28px;
}

.modal textarea {
    height: 133px;
}

.modal input:focus {
    border: none;
}

.actionButton {
    margin-top: 20px;
    justify-self: center;
}

.saveBtn, .cancelBtn {
    padding: 6px 15px;
    border: 1px solid #2A231B;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
}

.saveBtn {
    margin-left: 7px;
    background: #FC7032;
}

.cancelBtn {
    background: transparent;
}