/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Hanken+Grotesk:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,600;1,14..32,600&family=Pixelify+Sans&family=Rubik:ital@0;1&display=swap');

:root {
    color: #2A231B;
    background-color: #D9D9D9;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}